/* YourStyles.css */

.App-header {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  background-color: #333; /* Set your desired background color */
  color: white; /* Set your desired text color */
}

.nav-link {
  text-decoration: none;
  color: white; /* Set your desired link color */
  font-weight: bold;
  padding: 10px;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.nav-link:hover {
  background-color: #555; /* Set a different color on hover */
}
